.App {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.ima {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.result{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.text-margin-left{
  margin-left: 30px;
}

.submitButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;

  .submitButton {
    width: 120px;
    height: 36px;
    border-radius: 18px;
    font-weight: 600;
    font-size: 14px;
    color: black;
    transition: all 0.3s ease-in-out;

    &.idle {
      background-color: white;
      border: 2px solid coral;
      cursor: pointer;

      &:hover {
        background-color: coral;
        color: white;
      }
    }

    &.sending {
      width: 36px;
      background-color: white;
      cursor: default;
      border: 3px solid lightgray;
      border-top-color: coral;
      animation: spin 0.5s 0.25s linear infinite;
    }

    &.success {
      background-color: coral;
      border: 2px solid coral;

      &:after {
        font-family: "Font Awesome 5 Free", sans-serif;
        content: "\f00c";
        font-weight: 900;
        color: white;
        font-size: 20px;
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* グラデーション背景のスタイル */
.gradient-background {
  background: linear-gradient(135deg, #f86267 0%, #e9f862 10%, hsl(125, 100%, 72%) 20%, #62f8ad 30%, #62f3f8 40%, #5993ff 50%,
   #6562f8 60%, #9a42ff 70%, #df62f8 80%, #f862d3 90%, #ff3939 100%);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
  height: 100vh; /* ビューポート全体をカバー */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gradient-text {
  font-size: 50px;
  background: linear-gradient(135deg, #f86267 0%, #e9f862 10%, hsl(125, 100%, 72%) 20%, #62f8ad 30%, #62f3f8 40%, #5993ff 50%,
  #6562f8 60%, #9a42ff 70%, #df62f8 80%, #f862d3 90%, #ff3939 100%);
  -webkit-background-clip: text; /* 文字の背景にグラデーションを適用 */
  background-clip: text; /* 標準プロパティを追加 */
  color: transparent; /* 文字の色を透明に設定 */
  font-weight: bold;
}

.text-margin-top{
  margin-top: 15px;
}
.text-margin-bottom{
  margin-bottom: 15px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 25%;
  }
  25% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 25%;
  }
  100% {
    background-position: 0% 25%;
  }
}

/* ボタンの角を丸くする */
.button {
  border-radius: 8px; /* 角の丸みを設定 */
  padding: 10px 20px; /* ボタンの内側余白を調整 */
  border: none; /* ボタンの枠線を消す */
  cursor: pointer; /* ポインタの形を変更 */
  transition: background-color 0.3s ease; /* ホバー時の背景色変更をスムーズに */
}

/* ボタンにホバー時のエフェクトを追加 */
.button:hover {
  background-color: rgba(255, 255, 255, 0.2); /* ホバー時の背景色を少し変更 */
}

/* 入力欄の角を丸くする */
input {
  border-radius: 8px; /* 角の丸みを設定 */
  padding: 10px; /* 入力欄の内側余白を調整 */
  border: 1px solid #ccc; /* 入力欄の枠線を設定 */
  outline: none; /* フォーカス時の青い枠を削除 */
  transition: border-color 0.3s ease; /* フォーカス時の枠線色変更をスムーズに */
}

/* 入力欄がフォーカスされたときのスタイル */
input:focus {
  border-color: #5993ff; /* フォーカス時の枠線色を変更 */
}